doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    //- ======================header started======================
    header(style="background: rgba(0, 33, 71, 0.9) !important;")
      .my-nav(style="background: rgba(0, 33, 71, 0.9) !important;")
        .container
          .row
            .nav-items
              .menu-toggle
              .logo
                img(src="/images/logo.png" style="width:5rem;")
              .menu-items
                .menu
                  ul
                    li
                      a(href=`/profile/student?ee11cbb19052e40b07aac0ca060c23ee=${id}`) - Cursos
                    li
                      a(href=`/profile/student/courses/subscribed?ee11cbb19052e40b07aac0ca060c23ee=${id}`) - Matriculado
                    li
                      a(href=`/profile/student/courses/certificates?ee11cbb19052e40b07aac0ca060c23ee=${id}`) - Cerficados
                    li
                      a(href=`/login`) - Salir
                    
                    li.img-profile(style="")
                      form(action="/upload", method="post", enctype="multipart/form-data" style="width:60px;")
                        input(type="hidden", name="id", value=id)
                        label.custom-file-upload(for="file-upload")
                            input#file-upload(type="file" name="file" onchange="handleFileChange(this)")
                            img(src=`/uploads/${foto}`, alt="Avatar" style="")
                        button#guardar-btn(type="submit", style="display: none;width: 100%;") Guardar
    br
    br
    br
    br
    br
    
    
    div(class="account-container")
      .container-profile
        
        .main-content
          //a(href=`/profile/admin/courses/add?ee11cbb19052e40b07aac0ca060c23ee=${id}` class="btn-nav") ADD 
          br
          h3 Cursos Matriculados
          br
          table
            thead
              tr
                th Nombre
                th Inicio
                th Final
                th Ubicacion
                th Acciones
                  th.tableInfoField
            tbody
              if cursos.length > 0
                - var found = '0'
                each curso in cursos
                  if curso.activo == true || curso.activo == "true"
                    - found = '1'
                    tr
                      td
                        p.tableInfoField Nombre: 
                        = curso.titulo
                      td
                        p.tableInfoField Inicio: 
                        = curso.inicio
                      td
                        p.tableInfoField Final: 
                        = curso.final
                      td
                        p.tableInfoField Ubicacion: 
                        = curso.location
                        if curso.cursoVerificado == 0 || curso.cursoVerificado == '0'
                          td Sin Comenzar
                        else
                          td.actions
                            form(action="/profile/student/course/material", method="post")
                              input(type="hidden", name="id" value=id)
                              input(type="hidden", name="cid" value=curso.id)
                              input(type="hidden", name="curso" value=curso.curso)
                              button(type="submit") Ver Material
                if found == '0'
                  tr
                    td(style="text-align:center;" colspan="5") No hay cursos Matriculados

              else
                tr
                  td(style="text-align:center;" colspan="5") No hay cursos Matriculados


    //- ====================== Footer Section started======================
    a(href="https://api.whatsapp.com/send?phone=50660437366", class="btnWhatsapp", id="btnWhatsapp", target="_blank")
      img(src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-transparent-33.png", style="width:100%", alt="whatsapp button")
    footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 SARAPIQUI PADDLE SPORT
              p Come discover the best water adventures in Costa Rica with Sarapiquí Paddle Sports.
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Quick Links
              ol
                li(style="text-align:center;margin-top:1rem;")
                  i.fa-solid.fa-angle-right
                    a(href=`/profile/student?ee11cbb19052e40b07aac0ca060c23ee=${id}` style="color:white;font-family:Font Awesome 6 Free;text-transform:none;font-size: 1rem;")  Cursos
                li(style="text-align:center;margin-top:1rem;")
                  i.fa-solid.fa-angle-right
                    a(href=`/profile/student/courses/subscribed?ee11cbb19052e40b07aac0ca060c23ee=${id}` style="color:white;font-family:Font Awesome 6 Free;text-transform:none;font-size: 1rem;")  Matriculado
                li(style="text-align:center;margin-top:1rem;")
                  i.fa-solid.fa-angle-right
                    a(href=`/profile/student/courses/certificates?ee11cbb19052e40b07aac0ca060c23ee=${id}` style="color:white;font-family:Font Awesome 6 Free;text-transform:none;font-size: 1rem;")  Cerficados
                li(style="text-align:center;margin-top:1rem;")
                  i.fa-solid.fa-angle-right
                    a(href=`/login` style="color:white;font-family:Font Awesome 6 Free;text-transform:none;font-size: 1rem;")  Salir
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Contact Us
              form#emailForm
                .form-group
                  input(type="email", name="email", placeholder="Your Email", required)
                .form-group
                  textarea(name="text", placeholder="Message")
                .form-group  
                  button(type="submit") Submit
          .col-12
            .copy-right
              p © 2024 Sarapiqui Paddle Sports

  script(src="/assets/js/jquery-3.2.1.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/owl.carousel.min.js")
  script(src="/assets/js/owl.carousel.js")
  script(src="/assets/js/script.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/alert.js")