doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    //- ======================header started======================
    header
      .my-nav(style="background:rgba(0, 33, 71, 0.9);")
        .container
          .row
            .nav-items
              .menu-toggle
              .logo
                img(src="images/logo.png" style="width:5rem;")
              .menu-items
                .menu
                  ul
                    li
                      a(href="/") Home
                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown')" class="dropbtn") Education
                        #myDropdown.dropdown-content
                          //button(class="subDropdown dropbtn" onclick="openSubDropdown('instructors')") Instructors
                          
                          
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('students')") Students
                          #students.subdropdowm.hidden
                            a(class="subDropdown dropbtn" href="/login") Login
                            a(class="dropbtn subdropbtn" href=`/student-list`) List
                            a(class="dropbtn subdropbtn" href=`/courses-list`) COURSES
                            
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('sport')") Sport
                          #sport.subdropdowm.hidden
                            //button(class="dropbtn subdropbtn" onclick="") Sport #1
                            //button(class="dropbtn subdropbtn" onclick="") Sport #2
                            //button(class="dropbtn subdropbtn" onclick="") Sport #3

                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown2')" class="dropbtn") Trips
                        #myDropdown2.dropdown-content
                          a(class="subDropdown dropbtn" href="#") One Day Tour
                          a(class="subDropdown dropbtn" href="/oneweek") One Week Tour
                          a(class="subDropdown dropbtn" href="#") One Month Tour
                    li
                      a(href="/about") About Us
                    li
                      a(href="/staff") Our Staff
                    li
                      a(href="/gallery") Gallery
                    li
                      a(href="/contact") Contact Us

    //- ======================slider section started======================


    br
    br
    br
    section.bg-04
      .container
        .row
          .col-12
            .heading
              h2 Soon Courses
              p Learn new skills and improve your techniques in our upcoming courses! All taught by certified instructors.
        .row.curso-container
          if cursos.length > 0
            each curso in cursos
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.curso
                article._lk_bg_sd_we(style="padding:1rem;")
                  .__bv_xs_we
                  .__xs_we_er
                    .__he_w
                      h3(style="color:black;text-align:center;margin:0") #{curso.titulo}
                      ol
                        li
                          img(src=`/uploads/${curso.file}`, alt="", srcset="")
                          p._mn_cd_xs(style="color:black;") Inicia: #{curso.inicio}
                          p._mn_cd_xs(style="color:black;") Finaliza: #{curso.final}
                          p._mn_cd_xs(style="color:black;") Lugar: #{curso.location}
                      div(style="margin-top:1rem;width:100%;display:flex;justify-content:center;align-items:center;")
                        a(style="color:black;background-color:gray;padding:0.5rem;") Learn More
          else
            p No hay cursos disponibles.
    footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 SARAPIQUI PADDLE SPORT
              p Come discover the best water adventures in Costa Rica with Sarapiquí Paddle Sports.
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Quick Links
              ol
                li(style="text-align:center;")
                  a(href="/") Home
                li(style="text-align:center;")
                  a(href="/about") About Us
                li(style="text-align:center;")
                  a(href="/staff") Our Staff
                li(style="text-align:center;")
                  a(href="/gallery") Gallery
                li(style="text-align:center;")
                  a(href="/contact") Contact Us
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Contact Us
              form#emailForm
                .form-group
                  input(type="email", name="email", placeholder="Your Email", required)
                .form-group
                  textarea(name="text", placeholder="Message")
                .form-group  
                  button(type="submit") Submit
          .col-12
            .copy-right
              p © 2024 Sarapiqui Paddle Sports


  script(src="/assets/js/jquery-3.2.1.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/owl.carousel.min.js")
  script(src="/assets/js/owl.carousel.js")
  script(src="/assets/js/script.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/alert.js")
  script(type="text/javascript").
    function toggleDetails(detailId) {
      var details = document.getElementById(detailId);
      if (details.style.display === 'none') {
        details.style.display = 'block';
        event.target.textContent = 'Show Less';
      } else {
        details.style.display = 'none';
        event.target.textContent = 'Show More';
      }
    }
