doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="/assets/css/all.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="/assets/css/owl.carousel.css")
    link(rel="stylesheet", href="/assets/css/style.css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet")
  body
    //- ======================header started======================
    header
      .my-nav
        .container
          .row
            .nav-items
              .menu-toggle
              .logo
                img(src="images/logo.png" style="width:5rem;")
              .menu-items
                .menu
                  ul
                    li
                      a(href="/") Home
                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown')" class="dropbtn" style="padding:0;") Education
                        #myDropdown.dropdown-content
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('students')") Students
                          #students.subdropdowm.hidden
                            a(class="subDropdown dropbtn" href="/login") Login
                            //a(class="dropbtn subdropbtn" href=`/student-list`) List
                            a(class="dropbtn subdropbtn" href=`/courses-list`) COURSES
                          button(class="subDropdown dropbtn" onclick="openSubDropdown('sport')") Sport
                          #sport.subdropdowm.hidden
                    li
                      .dropdown
                        button(onclick="myFunction('myDropdown2')" class="dropbtn" style="padding:0;") Trips
                        #myDropdown2.dropdown-content
                          a(class="subDropdown dropbtn" href="") One Day Tour
                          a(class="subDropdown dropbtn" href="/oneweek") One Week Tour
                          a(class="subDropdown dropbtn" href="") One Month Tour
                    li
                      a(href="/about") About Us
                    li
                      a(href="/staff") Our Staff
                    li
                      a(href="/gallery") Gallery
                    li
                      a(href="/contact") Contact Us
    //- ======================slider section started======================
    section#carouselExampleFade.carousel.slide.carousel-fade.slider(data-ride="carousel")
      .carousel-inner
        .carousel-item.active
          img.d-block.img-slider(src="/images/header/output_header12.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="images/logo.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header13.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header14.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img4.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header15.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img1.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header17.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/logo.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header18.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="images/header/header-img.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header2.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(class="header-img-ico" src="/images/header/header-img4.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header5.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img1.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header6.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/logo.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header9.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header10.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img4.png")
          br
          br
          br
          br
        .carousel-item
          img.d-block.img-slider(src="/images/header/output_header11.jpeg", alt="..." style="width:100%;")
          .carousel-caption
            div.header-img-co
              img.header-img-ico(src="/images/header/header-img1.png")
          br
          br
          br
          br
      a.carousel-control-prev(href="#carouselExampleFade", role="button", data-slide="prev")
        span.carousel-control-prev-icon(aria-hidden="true")
        span.sr-only Previous
      a.carousel-control-next(href="#carouselExampleFade", role="button", data-slide="next")
        span.carousel-control-next-icon(aria-hidden="true")
        span.sr-only Next
    section.bg-04
      .container
        .row
          .col-12
            .heading
              h2 Soon Courses
              p Learn new skills and improve your techniques in our upcoming courses! All taught by certified instructors.
        .row.curso-container
          if cursos.length > 0
            each curso in cursos
              .col-lg-4.col-md-4.col-sm-6.col-xs-12.curso
                article._lk_bg_sd_we(style="padding:1rem;")
                  .__bv_xs_we
                  .__xs_we_er
                    .__he_w
                      h3(style="color:black;text-align:center;margin:0") #{curso.titulo}
                      ol
                        li
                          img(src=`/uploads/${curso.file}`, alt="", srcset="")
                          p._mn_cd_xs(style="color:black;") Inicia: #{curso.inicio}
                          p._mn_cd_xs(style="color:black;") Finaliza: #{curso.final}
                          p._mn_cd_xs(style="color:black;") Lugar: #{curso.location}
                          p._mn_cd_xs.hidden(style="color:black;" id=`d-${curso.id}`) Description: #{curso.desc}
                      div(style="margin-top:1rem;width:100%;display:flex;justify-content:center;align-items:center;")
                        button(style="color:black;background-color:gray;padding:0.5rem;" onclick=`showCourseDetail(${curso.id})`) Learn More
          else
            p No hay cursos disponibles.
    section.section-concern
      h2 About Us
      div(class="about-container")
        div(style="width:100%;")
          p Though Sarapiquí Paddle Sports has been paddling since 1993 and operating since 2017, we constantly strive to improve to provide you with the best adventure tour Costa Rica has to offer. We are dedicated to offering fully guided adventure trips while maintaining the highest standards of safety, professional equipment, personalized customer service, and trip activity quality.
          p We are committed to remaining an independent source of adventure travel by providing our own guides and equipment, ensuring our high standards of quality without relying on outsourced companies. Additionally, we will continue to improve our employees' professional skills to serve you better.
          p We believe in supporting and developing our local communities by donating to the local orphanage and supporting local businesses whenever possible.

        div(class="about-text-container" style="padding:1rem;width:100%;")
          img(src="images/index/img-18.jpg", alt="")
    section.section-concern
      h2 Location
      div(class="about-container")
        div(class="about-text-container" style="padding:1rem;")
          iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15701.040371756966!2d-83.9487646!3d10.3210579!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa09bbdda1defff%3A0x9f86185d7288e516!2sSarapiqui%20Paddle%20Sports%2C%20Education%20and%20Exploration!5e0!3m2!1sen!2scr!4v1721180831096!5m2!1sen!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
        div 
          p We are located in the heart of Sarapiquí, Costa Rica, surrounded by breathtaking nature that transforms every activity into a unique and unforgettable experience. The lush rainforests, winding rivers, and diverse wildlife create a backdrop that enhances the thrill of adventure and the serenity of exploration.
          p Our prime location provides easy access to some of the best rafting and kayaking routes in the country. Whether you're navigating the exhilarating rapids of the Sarapiquí River or enjoying a peaceful paddle through calm waters, our surroundings offer the perfect setting for both adrenaline-fueled challenges and tranquil moments of connection with nature.
          p Come and discover the natural beauty of Costa Rica as you embark on unparalleled water adventures. Whether you're seeking a heart-pounding whitewater experience or a leisurely exploration of Costa Rica's stunning landscapes, Sarapiquí Paddle Sports promises an adventure like no other.
    section.team
      .container
        .heading
          h2 OUR TEAM
        .item
          .team-card
            .image-team
              img(src="images/index/img-21.jpg")
            .team-content
              h3 Stanley Esquivel
              p(style="padding: 0;margin: 0;") Lead Instructor
              p Stanley Esquivel Mesen is a highly experienced and internationally certified instructor in swiftwater rescue, whitewater rafting, and kayaking. With numerous certifications from the American Canoe Association and extensive experience guiding and instructing in Costa Rica and abroad, Stanley brings unparalleled expertise to Sarapiquí Paddle Sports.
              p Stanley has contributed to the book *Chasing Jaguars*, which focuses on whitewater opportunities in Costa Rica. He is certified by the
               a(href="https://americancanoe.org/") American Canoe Association
               | as a swiftwater rescue instructor, raft paddle technical instructor, and river guide instructor.
              p As a member of the 
               a(href="https://worldraftingfederation.com/structure/commissions/24-wrf-training-guide-program-commission/67-stanley-esquivel-mesen") World Rafting Federation
               |, his passion for the sport and sharing adventures is reflected in his company, which offers options for exploring 37 different rivers in Costa Rica.
              .details(style="display:none;" id="stanley-details")
                ul
                  li(style="color: #444444;") Swiftwater Rescue Level 4 Instructor, American Canoe Association
                  li(style="color: #444444;") Whitewater Rafting-Paddle Level 4 Instructor, American Canoe Association
                  li(style="color: #444444;") Chair holder of Safety Educational Instructional Committee-Rescue, American Canoe Association
                  li(style="color: #444444;") Director of Education, Federacion Costarricense de Rafting
                  li(style="color: #444444;") First Aid and CPR Certifications, Up to Date
                p His accomplishments include:
                ul
                  li(style="color: #444444;") First Place, Chorro Race 2018 (Master Men)
                  li(style="color: #444444;") 3rd Place Overall, World Championships, Neuquén, Argentina 2018 (Master Mens, R4)
                  li(style="color: #444444;") Multiple National Championships in Freestyle and Extreme Kayak
                p Stanley has also participated in over 200 freestyle kayaking events worldwide and contributed to the book *Chasing Jaguars*, which highlights Costa Rica's whitewater options.
                p For more details, contact Stanley:
                ul
                  li(style="color: #444444;")
                    a(href="https://www.facebook.com/share/1AkwntBr2o/?mibextid=qi2Omg", target="_blank") Facebook
                  li(style="color: #444444;") Email: sarapiquipaddless@gmail.com
                  li(style="color: #444444;") Phone: +(506) 6043 7366
                  li(style="color: #444444;") Location: Sarapiquí, Costa Rica
              button.btn.btn-primary(onclick="toggleDetails('stanley-details')") Show More          
    section.bg-01
      h2.title Our Partners
      .container.ourPartners(style="")
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .se-box
            .icon
              img(src="/images/header/header-img.png", alt="")
            .content
              h3 ACA
              a(href="#") Learn More
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .se-box
            .icon
              img(src="/images/header/header-img3.png", alt="")
            .content
              h3 WRA
              a(href="https://worldraftingfederation.com/structure/commissions") Learn More
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .se-box
            .icon
              img(src="/images/parnerts.png", alt="")
            .content
              h3 FECORAFT
              a(href="#") Learn More
    section.section-concern(style="margin:0 0 2rem 0;")
      h2 Gallery
      div(style="display:flex;align-items:center;justify-content:center;")
        .slideshow-container
            .mySlides
                img(src="/images/gallery/gallery (13).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (14).jpeg", style="max-height: 600px !important;width:100%")
            .mySlides
                img(src="/images/gallery/gallery (15).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (16).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (17).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (18).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (19).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (20).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (21).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (22).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (23).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (24).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (25).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (26).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (27).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (28).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (29).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (30).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (31).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (32).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (33).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (34).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (35).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (36).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (37).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (38).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (39).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (40).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (41).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (42).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (43).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (44).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (45).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (46).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (47).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (48).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (49).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (50).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (51).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (52).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (53).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (54).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (55).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (56).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (57).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (58).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (59).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (60).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (61).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (62).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (63).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (64).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (65).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (66).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (67).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (68).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (69).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (70).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (71).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (72).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (73).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (74).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (75).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (76).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (77).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (78).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (79).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (80).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (81).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (82).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (83).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (84).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (85).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (86).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (87).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (88).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (89).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (90).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (91).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (92).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (93).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (94).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (95).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (96).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (97).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (98).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (99).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (100).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (101).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (102).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (103).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (104).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (105).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (106).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (107).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (108).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (109).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (110).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (111).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (112).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (113).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (114).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (115).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (116).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (117).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (118).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (119).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (120).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (121).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (122).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (123).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (124).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (125).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (126).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (127).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (128).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (129).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (130).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (131).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (132).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (133).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (134).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (135).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (136).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (137).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (138).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (139).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (140).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (141).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (142).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (143).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (144).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (145).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (146).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (147).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (148).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (149).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (150).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (151).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (152).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (153).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (154).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (155).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (156).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (157).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (158).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (159).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (160).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (161).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (162).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (163).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (164).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (165).jpeg", style="max-height: 600px !important;width:100%") 
            .mySlides
                img(src="/images/gallery/gallery (1).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (2).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (3).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (4).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (5).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (6).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (7).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (8).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (9).jpeg", style="max-height: 600px !important;width:100%")   
            .mySlides
                img(src="/images/gallery/gallery (10).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (11).jpeg", style="max-height: 600px !important;width:100%")  
            .mySlides
                img(src="/images/gallery/gallery (12).jpeg", style="max-height: 600px !important;width:100%")
            a.prevx(onclick="plusSlides(-1)") ❮
            a.nextx(onclick="plusSlides(1)") ❯
    a(href="https://api.whatsapp.com/send?phone=50660437366", class="btnWhatsapp", id="btnWhatsapp", target="_blank")
      img(src="https://www.freepnglogos.com/uploads/whatsapp-logo-png-transparent-33.png", style="width:100%", alt="whatsapp button")
    footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 SARAPIQUI PADDLE SPORT
              p Come discover the best water adventures in Costa Rica with Sarapiquí Paddle Sports.
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Quick Links
              ol
                li(style="text-align:center;")
                  a(href="/") Home
                li(style="text-align:center;")
                  a(href="/about") About Us
                li(style="text-align:center;")
                  a(href="/staff") Our Staff
                li(style="text-align:center;")
                  a(href="/gallery") Gallery
                li(style="text-align:center;")
                  a(href="/contact") Contact Us
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Contact Us
              form#emailForm
                .form-group
                  input(type="email", name="email", placeholder="Your Email", required)
                .form-group
                  textarea(name="text", placeholder="Message")
                .form-group  
                  button(type="submit") Submit
          .col-12
            .copy-right
              p © 2024 Sarapiqui Paddle Sports
  script(src="/assets/js/jquery-3.2.1.min.js")
  script(src="/assets/js/popper.min.js")
  script(src="/assets/js/bootstrap.min.js")
  script(src="/assets/js/owl.carousel.min.js")
  script(src="/assets/js/owl.carousel.js")
  script(src="/assets/js/script.js")
  script(src="/javascripts/main.js")
  script(src="/javascripts/alert.js")
  script(type="text/javascript").
    function toggleDetails(detailId) {
      var details = document.getElementById(detailId);
      if (details.style.display === 'none') {
        details.style.display = 'block';
        event.target.textContent = 'Show Less';
      } else {
        details.style.display = 'none';
        event.target.textContent = 'Show More';
      }
    }