doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sarapiqui Paddle Sports
    link(rel="stylesheet", href="assets/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/all.min.css")
    link(rel="stylesheet", href="assets/css/owl.carousel.min.css")
    link(rel="stylesheet", href="assets/css/owl.carousel.css")
    link(rel="stylesheet", href="assets/css/style.css")
  body
    //- ======================header started======================
    header
      .my-nav
        .container
          .row
            .nav-items
              .menu-toggle
              .logo
                img(src="assets/images/logo-01.png")
              .menu-items
                .menu
                  ul
                    li
                      a(href="index.html") Home
                    li
                      a(href="about-us.html") About Us
                    li
                      a(href="services.html") Services
                    li
                      a(href="blog.html") Blog
                    li
                      a(href="contact-us.html") Contact Us

    //- ======================slider section started======================
    section#carouselExampleFade.carousel.slide.carousel-fade.slider(data-ride="carousel")
      .carousel-inner
        .carousel-item.active
          img.d-block.img-slider(src="assets/images/slider/1.jpg", alt="..." style="width:100%;")
          .carousel-caption
            h2 Best Education For Diploma
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui perspiciatis, eveniet sequi labore vel itaque adipisci odio necessitatibus voluptatibus saepe, impedit enim unde velit amet rem, suscipit corrupti vero ad.
            .button-01
              ul
                li
                  a(href="#") Get Started Now
                li
                  a(href="#") View Courses
        .carousel-item
          img.d-block.img-slider(src="assets/images/slider/2.jpg", alt="..." style="width:100%;")
          .carousel-caption
            h2 Best Education For Diploma
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui perspiciatis, eveniet sequi labore vel itaque adipisci odio necessitatibus voluptatibus saepe, impedit enim unde velit amet rem, suscipit corrupti vero ad.
            .button-01
              ul
                li
                  a(href="#") Get Started Now
                li
                  a(href="#") View Courses
        .carousel-item
          img.d-block.img-slider(src="assets/images/slider/3.jpg", alt="..." style="width:100%;")
          .carousel-caption
            h2 Best Education For Diploma
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui perspiciatis, eveniet sequi labore vel itaque adipisci odio necessitatibus voluptatibus saepe, impedit enim unde velit amet rem, suscipit corrupti vero ad.
            .button-01
              ul
                li
                  a(href="#") Get Started Now
                li
                  a(href="#") View Courses
        a.carousel-control-prev(href="#carouselExampleFade", role="button", data-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#carouselExampleFade", role="button", data-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.sr-only Next

    
    
    //- ====================== Featured started======================
    section.bg-02
      .container
        .row
          .col-12
            .heading
              h2 Featured courses
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam quo, ducimus aliquid quisquam minima perspiciatis repellendus, minus tenetur reiciendis quis? Consequatur perferendis deleniti, rerum delectus consectetur modi praesentium deserunt.
          
          
          
          each courseKey, key in Object.keys(courses)
            .col-lg-4.col-md-4.col-sm-6.col-xs-12
              .featured-box
                .feature-card
                  a(href="#")
                    i.far.fa-link
                    img(src=courses[courseKey].img)
                .content
                  h3 #{courses[courseKey].name}
                  p #{courses[courseKey].desc}
                  .container-btn-learn
                    button.btn-learn(onclick=`openCourseDetails('${courseKey}')`) Learn More
            
            
            
            .container-tabs.overlay.hidden(id=`tab-${courseKey}`)
              .tab
                button.close-button(onclick=`closeTab(${courseKey})`) X
                - var index = 0
                each itemKey, key in Object.keys(courses[courseKey].items)
                  
                  button.tablinks(onclick=`openTab(event, '${courseKey}-${index}')`) #{itemKey}
                  - index++
                - var index = 0
                br
                br
                
                each item_0 in courses[courseKey].items
                  if index > 0
                    .tabcontent(id=`tab-${courseKey+'-'+index}`)
                      - index++
                      each item_1 in item_0
                        a(href=item_1.link) #{item_1.name}
                        br
                  else
                    .tabcontent.active(id=`tab-${courseKey+'-'+index}`)
                      - index++
                      each item_1 in item_0
                        a(href=item_1.link) #{item_1.name}
                        br





    //- ====================== Blog Section started======================
    section.bg-04
      .container
        .row
          .col-12
            .heading
              h2 Latest News
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              | tempor incididunt
        .row
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            article._lk_bg_sd_we
              .__bv_xs_we
              .__xs_we_er
                .__he_w
                  h3 Easy English Learning Way
                  ol
                    li
                      span by
                      |  admin
                      span._mn_cd_xs june 30, 2020
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            article._lk_bg_sd_we
              .__bv_xs_we(style="background:url(assets/images/blog/img-01.jpg")
              .__xs_we_er
                .__he_w
                  h3 Summer Course Start From 1st June
                  ol
                    li
                      span by
                      |  admin
                      span._mn_cd_xs june 30, 2020
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          .col-lg-4.col-md-4.col-sm-6.col-xs-12
            article._lk_bg_sd_we
              .__bv_xs_we(style="background:url(assets/images/blog/img-03.jpg")
              .__xs_we_er
                .__he_w
                  h3 Guest Interview will Occur Soon
                  ol
                    li
                      span by
                      |  admin
                      span._mn_cd_xs june 30, 2020
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

    //- ====================== section started======================
    section.bg-01
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .se-box
              .icon
                i.fal.fa-chalkboard-teacher
              .content
                h3 Professional Teachers
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .se-box
              .icon
                i.fal.fa-globe-americas
              .content
                h3 Learn Anywhere Online
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .se-box
              .icon
                i.fal.fa-graduation-cap
              .content
                h3 Graduation Certificate
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .se-box
              .icon
                i.fal.fa-backpack
              .content
                h3 Over 1000 Scholarship
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod


    //- ====================== Team Started started======================
    section.team
      .container
        .row
          .col-12
            .heading
              h2 OUR TEAM
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam quo, ducimus aliquid quisquam minima perspiciatis repellendus, minus tenetur reiciendis quis? Consequatur perferendis deleniti, rerum delectus consectetur modi praesentium deserunt.
          .col-12
            .owl-carousel.owl-stage-outer
              .item
                .team-card
                  .image-team
                    img(src="assets/images/team/1.jpg")
                  .team-content
                    h3 John
                    p Web Developer
                    ol
                      li
                        i.fab.fa-facebook-f
                      li
                        i.fab.fa-instagram
                      li
                        i.fab.fa-linkedin-in
                      li
                        i.fab.fa-pinterest-p
              .item
                .team-card
                  .image-team
                    img(src="assets/images/team/2.jpg")
                  .team-content
                    h3 Anderson john
                    p Web Designer
                    ol
                      li
                        i.fab.fa-facebook-f
                      li
                        i.fab.fa-instagram
                      li
                        i.fab.fa-linkedin-in
                      li
                        i.fab.fa-pinterest-p
              .item
                .team-card
                  .image-team
                    img(src="assets/images/team/3.jpg")
                  .team-content
                    h3 Sarah Se
                    p Web Designer
                    ol
                      li
                        i.fab.fa-facebook-f
                      li
                        i.fab.fa-instagram
                      li
                        i.fab.fa-linkedin-in
                      li
                        i.fab.fa-pinterest-p
              .item
                .team-card
                  .image-team
                    img(src="assets/images/team/4.jpg")
                  .team-content
                    h3 Williams
                    p English 
                    ol
                      li
                        i.fab.fa-facebook-f
                      li
                        i.fab.fa-instagram
                      li
                        i.fab.fa-linkedin-in
                      li
                        i.fab.fa-pinterest-p
    //- ====================== Footer Section started======================
    footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 SMART GROUP
              p ipsum dolor sit amet, Excepteur sint occaecat cupidatat non
              |  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Quick Links
              ol
                li
                  i.far.fa-angle-right
                  |  home
                li
                  i.far.fa-angle-right
                  |  About Us
                li
                  i.far.fa-angle-right
                  |  Services
                li
                  i.far.fa-angle-right
                  |  Blog
                li.last
                  i.far.fa-angle-right
                  |  Contact Us
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Courses
              ol
                li
                  i.far.fa-angle-right
                  |  MBA
                li
                  i.far.fa-angle-right
                  |  ME
                li
                  i.far.fa-angle-right
                  |  BE
                li
                  i.far.fa-angle-right
                  |  MBBS
                li.last
                  i.far.fa-angle-right
                  |  MA
          .col-lg-3.col-md-3.col-sm-6.col-12
            .__kl_de_w
              h3 Contact Us
              form.my-form
                .form-group
                  input.form-control(type="emal", name="email", placeholder="Email")
                .form-group
                  textarea.form-control(rows="3", placeholder="Message")
                .form-group
                  a(href="#") Submit
          .col-12
            .copy-right
              p © 2020 All Rights Reserved by
                a(href="https://www.smarteyeapps.com/") Smarteyeapps.com

  script(src="assets/js/jquery-3.2.1.min.js")
  script(src="assets/js/popper.min.js")
  script(src="assets/js/bootstrap.min.js")
  script(src="assets/js/owl.carousel.min.js")
  script(src="assets/js/owl.carousel.js")
  script(src="assets/js/script.js")
  script(src="javascripts/main.js")
